<include href="views/header.html" />


<body>
<include href="views/navbar.html" />


<div class="container my-3 p-3 main-body body-flex">

    <div class="w-75 ps-3 pe-5">
        <h1 class="text-center">Welcome to our dating site</h1>
        <p>
            Welcome to the world's most powerful AI powered dating website. Here at <b>AI Dating</b> you will be matched
            up with not only real people but computers that will seem so realistic you won't be able to tell them apart.
            As technology continues to progress we know that you would love an AI partner to take care of the home for
            you so we are here to connect you. Our proprietary algorithm will help match you with the robotic partner of
            your dreams.
        </p>

        <h3 class="text-center">Stories from our past users</h3>
        <hr>
        <div class="ps-4">
            <p><i>"After just one date I knew my robotic companion was the perfect match for me and my personality."
                -Amber</i></p>
            <p><i>"I spent years searching for the perfect woman, who knew they would be a robot" -Dave</i></p>
            <p><i>"Not once could I tell that she wasn't even human!" -Robert</i></p>
        </div>


        <br>
        <div class="d-flex w-100 justify-content-center">
            <a type="button" class="btn btn-primary px-3 py-2" href="signup1">Join Today!</a>
        </div>


    </div>
    <div class="w-25 ml-3">
        <img class="right-image rounded" src="images/dinner-splash.jpg" alt="Romantic Dinner Image">
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>
</html>