<include href="views/header.html" />


<body>
<include href="views/navbar.html" />

<div class="container my-3 p-3 main-body">
    <h1>Interests</h1>
    <hr>

    <form action="#" method="post" class="w-100">
        <div class="form-container w-100">
            <span class="bold mb-2">In-door Interests</span>
            <div class="row row-cols-4 m-0 mt-2">
                <repeat group="{{ @indoorActivities }}" value="{{ @activity }}">
                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input"
                               name="indoor[]"
                               id="{{ @activity }}"
                               value="{{ @activity }}"
                               <check if="{{ in_array(@activity, @SESSION['profile']->getIndoorInterests()) }}">
                                   checked
                               </check>
                        >
                        <label class="form-check-label" for="{{ @activity }}">{{ ucwords(str_replace("-", " ", @activity)) }}</label>
                    </div>
                </repeat>
            </div>
            <check if="{{ isset(@errors['indoor']) }}">
                <span class="error-text">{{ @errors['indoor'] }}</span>
            </check>
        </div>
        <div class="form-container w-100">
            <span class="bold mb-2">Out-door Interests</span>
            <div class="row row-cols-4 m-0 mt-2">
                <repeat group="{{ @outdoorActivities }}" value="{{ @outactivity }}">
                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input"
                               name="outdoor[]"
                               id="{{ @outactivity }}"
                               value="{{ @outactivity }}"
                        <check if="{{ in_array(@outactivity, @SESSION['profile']->getOutdoorInterests()) }}">
                            checked
                        </check>
                        >
                        <label class="form-check-label" for="{{ @outactivity }}">{{ ucwords(str_replace("-", " ", @outactivity)) }}</label>
                    </div>
                </repeat>
            </div>
            <check if="{{ isset(@errors['outdoor']) }}">
                <span class="error-text">{{ @errors['outdoor'] }}</span>
            </check>
        </div>
        <div class="d-flex justify-content-end w-100">
            <button class="btn btn-primary" type="submit">Next >></button>

        </div>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>
</html>