<include href="views/header.html" />


<body>
<include href="views/navbar.html" />

<div class="container my-3 p-3 main-body">

    <div class="body-flex">
        <div class="w-50 me-5">
            <table class="table table-bordered rounded">
                <tr>
                    <td><b>Name:</b> {{ @SESSION['profile']->getFname() }} {{ @SESSION['profile']->getLname() }}</td>
                </tr>
                <tr>
                    <td><b>Gender:</b> {{ @SESSION['profile']->getGender() }}</td>
                </tr>
                <tr>
                    <td><b>Age:</b> {{ @SESSION['profile']->getAge() }}</td>
                </tr>
                <tr>
                    <td><b>Phone:</b> {{ @SESSION['profile']->getPhone() }}</td>
                </tr>
                <tr>
                    <td><b>Email:</b> {{ @SESSION['profile']->getEmail() }}</td>
                </tr>
                <tr>
                    <td><b>State:</b> {{ @SESSION['profile']->getState() }}</td>
                </tr>
                <tr>
                    <td><b>Seeking Gender:</b> {{ @SESSION['profile']->getSeekingGender() }}</td>
                </tr>
                <check if="{{ (@SESSION.profile instanceof PremiumMember) }}">
                    <tr>
                        <td><b>Interests:</b> {{ implode(", ", @SESSION['profile']->getIndoorInterests()) }}, {{ implode(", ", @SESSION['profile']->getOutdoorInterests()) }}</td>
                    </tr>
                </check>
            </table>
        </div>

        <div class="w-50">
            <h2><b>Biography</b></h2>
            <p>{{ @SESSION['profile']->getBio() }}</p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-primary" href="#">Contact Me!</a>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>
</html>